html {
    width: 70em;
    margin: 0 auto;
    
}

body {
    margin: 0;
    font-size: 120%;
}

h1, h2, li {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: #0eaf82;
    color: rgb(3, 3, 3);
    padding: 32px;
    text-align: center;
}

h2 + p {
    background-color: #03a87c;
    color: white;
    padding: 8px 24px;
    margin-top: 48px;
}

li em {
    background-color: #dfdddb;
    color:rgb(5, 5, 5);
    padding: 2px;
}

strong {
    color: #e0dfdd;
}

a::after {
    content: " \2BB5";
}

img {
    max-width: 100%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border: #070707;
}

ul {
    background-color: #eeedec;
    padding: 8px 16px;
}

ul:empty {
    padding: 0;
}

li  {
    font-weight: bold;
    color: rgb(12, 12, 12);
    background-color: #00684B;
    padding: 16px;
    margin: 20px;
    height: 60px;
    list-style-type: yes;
    border-radius: 8px;
    transition: transform .2s;
}

li:hover {
    transform: scale(1.01);
}
